/* ==UserStyle==
@name           Arvutidark
@namespace      gitlab.com/treierxyz/arvutidark
@version        1.1.2
@description    Stylus UserCSS/LESS tume stiil Arvutitark.ee (2016-2022) veebilehele
@author         treierxyz
@updateURL      https://gitlab.com/treierxyz/arvutidark/raw/main/arvutidark.user.css
@preprocessor   less
@license        MIT

@var color backgroundColor "Background color" #282828
@var color textColor "Text color" #e6e6e6
@var color checkeredColor "Checkered color" #303030
@var color dominantColor "Dominant color" #ea23c1
@var color cardColor "Card color" #333333
@var color darkbuttonColor "Dark button color" #4d4d4d
@var checkbox disableTopSliders "Disable top sliders" 1
@var checkbox disableFooterSlider "Disable footer slider" 1
@var checkbox disableZendesk "Disable Zendesk" 1
@var checkbox disableSocials "Disable social buttons" 1
==/UserStyle== */
@darkenedCardColor:	darken(@cardColor, 10%);
@subtextColor:		darken(@textColor, 12%);
@preheaderColor:	darken(@backgroundColor, 3%);
@borderColor:		lighten(@cardColor, 6%);
@-moz-document regexp("https://kodutark\\.ee.*") {
	
    body {
        background: @backgroundColor;
        color: @textColor;
    }
    
    a {
        color: @dominantColor;
        &:hover {
            color: @textColor;
        }
    }

    .body {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: @textColor;
        }
    }

    // Pre-header
    .preheader {
        background-color: @preheaderColor;
    }

    .preheader .top-bar-section ul li > a {
        color: @textColor;
		&:hover {
			color: @dominantColor !important;
		}
    }
	
	.preheader .top-bar-section ul {
		li:hover > a, li.active > a {
			color: @dominantColor !important;
		}
	}
	
	.preheader .top-bar-section ul {
		// ArvutitarkTV ikoon
		li.tv a {
			height: 2.75rem !important;
			mask-image: url("/img/tv.png");
			mask-size: auto 1.25rem;
			mask-repeat: no-repeat;
			mask-position: 50%;
			-webkit-mask-image: url("/img/tv.png");
			-webkit-mask-size: auto 1.25rem;
			-webkit-mask-repeat: no-repeat;
			-webkit-mask-position: 50%;
			background-color: @dominantColor;
			img {
				visibility: hidden;
			}
			&:hover, &:active {
				background-color: desaturate(@dominantColor, 100%);
			}
		}
		// Facebook ikoon
		li.fb a {
			color: #3c6ac8; 
			&:hover, &:active {
				color: desaturate(@dominantColor, 100%) !important;
			}
		}
	}
	
	.preheader .top-bar-section ul.right li.language .languagedropdown h2 {
		color: @dominantColor;
	}
	
	.preheader .top-bar-section ul.right li:not(:last-child):not(.christmas) > a::after {
		color: @textColor;
	}
	
	.preheader .top-bar-section ul.right li.active > a {
		background-color: lighten(@cardColor, 4%) !important;
		&:hover {
			background-color: lighten(@cardColor, 8%) !important;
		}
	}
	
	.preheader .top-bar-section ul.right li.language ul {
		li:hover a:not(.button) {
			background: lighten(@cardColor, 8%);
			color: @textColor !important;
		}
		li.active a:not(.button) {
			color: @textColor !important;
			font-weight: 600 !important;
		}
		li a:not(.button) {
			color: darken(@textColor, 10%) !important;
			font-weight: 300 !important;
		}
	}
	
	// Disable social buttons
	.preheader .top-bar-section when (@disableSocials = 1) {
		display: flex;
		justify-content: center;
		ul.left {
			display: none;
		}
	}
	
	// Disable Zendesk
	div.zopim when (@disableZendesk = 1) {
		display: none !important;
	}
	
	// Disable top sliders
	ul.rslides.topbanner.slick-initialized.slick-slider when (@disableTopSliders = 1) {
		display: none !important;
	}
	
	section.bannersection when (@disableFooterSlider = 1) {
		display: none !important;
	}
    
    // Color header
    section.header {
        background-image: url("/img/larger.png");
        background-blend-mode: multiply;
        background-color: @dominantColor !important;
    }
    
    // Search
    .search input[type="text"] {
		&::placeholder {
			 color: @textColor;
		}
        background-color: @backgroundColor !important;
        border-bottom-color: lighten(@backgroundColor, 10%);
        &:focus, &:hover {border-bottom-color: lighten(@backgroundColor, 20%);}
        &:focus:hover {border-bottom-color: lighten(@backgroundColor, 24%);}
    }
    
    // Products menu
    .postheader {
        background-color: @checkeredColor;
		background-blend-mode: overlay;
    }

    .productsmenucontainer .productsmenu li > a {
        color: @textColor;
    }

    .productsmenucontainer .productsmenu li:hover > a,
    .productsmenucontainer .productsmenu li.active > a {
        color: @dominantColor;
    }

    .f-dropdown.productsmenu-dropdown > li:hover > a,
    .f-dropdown.productsmenu-dropdown > li.active > a {
        background: @dominantColor;
        color: @textColor;
    }

    .products-grid,
    .products-grid2 {
        li {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p {
                color: @textColor;
            }
        }
    }

    .f-dropdown,
    .f-dropdown.content {
        background: @cardColor;
        border: solid 1px @borderColor;
    }

    .f-dropdown.productsmenu-dropdown > li > a {
        color: @textColor;
    }

    .f-dropdown.productsmenu-dropdown > li ul li > a {
        color: @subtextColor;
    }
	

    .f-dropdown.productsmenu-dropdown > li ul li:hover > a,
    .f-dropdown.productsmenu-dropdown > li ul li.active > a {
        background-color: @darkenedCardColor;
    }

    .f-dropdown.productsmenu-dropdown > li ul li > a:hover {
        color: @dominantColor;
    } 
    
    // Sliders
    .slick-prev::before,
    .slick-next::before {
        color: @dominantColor;
		transition: color 300ms ease-out;
    }

    .slick-prev,
    .slick-next {
        &:hover,
        &:focus {
            background-color: @dominantColor;
        }
    }
    
    // Cards
    .card {
        background: @cardColor;
    } 
    
    // Footer stuff
    section.bannersection {
        background: @cardColor;
    } 
	
    footer > div:first-child {
        color: @textColor;
        background-color: lighten(@cardColor, 2%) !important;
		h5 {
			color: @textColor;
			font-weight: 400;
		}
		a {
			color: @dominantColor;
			&:hover {
				color: lighten(@dominantColor,10%);
			}
		}
		// Disable footer slider
		& when (@disableFooterSlider = 1) {
			background-color: @cardColor !important;
		}
    }
	
	footer .subfooter {
        background-color: @checkeredColor;
		background-blend-mode: overlay;
    }
	
    // Add to cart
    button.expand,
    .button.expand {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }
	
	.products-grid, .products-grid2, .products-grid.products-list {
		li .card .buttoncontainer {
			.button, button{
				background: lighten(@cardColor, 8%) !important;
        		color: @textColor !important;
				&:hover {
					background-color: lighten(@cardColor, 16%) !important;
				}
			}
		}
	}
    
    // Item status
    .pricecontainer > span:nth-child(3) {
        color: @subtextColor;
    } 
    
    // Item description
    ul li.item a {
        color: @subtextColor !important;
    } 
    
    // Toodet leitud tekst
    div.row > div.large-12.medium-12.columns.content > div.row > div.large-9.medium-12.small-12.columns.content {
        color: @textColor; 
    } 
    
    // Otsingu filtrid
    #search-filters {
        background: @cardColor;
    }

    #search-filters header {
        background-color: @checkeredColor;
		background-blend-mode: overlay;
    }

    #search-filters header h3,
    #search-filters header h4,
    #search-filters header h5 {
        color: @dominantColor;
    }

    #search-filters label {
        color: @textColor;
    }

    #search-filters header::after {
        color: @dominantColor;
    } 
    
    // Otsingu kategooriad
    .card.sidebar {
        overflow: auto;
        border-radius: 5px !important;
    }
	.card header {
		background-color: @checkeredColor !important;
		background-blend-mode: overlay;
	}
	
	.card .padding {
		padding-top: 0.75em;
	}
	
    .card.sidebar h4 {
        color: @dominantColor;
    }

    .side-nav {
        background: @cardColor;
    }

    .card.sidebar > ul li > a {
        color: @subtextColor;
        font-weight: 400;
    }

    .card.sidebar header::after {
        color: @dominantColor;
    }

    .side-nav li a:not(.button) {
        &:hover,
        &:focus {
            background: @darkenedCardColor; 
            color: @dominantColor; 
        }
    }
	.side-nav li.active > a:first-child:not(.button) {
		color: @subtextColor;
		&:hover,
		&:focus {
			color: @dominantColor;
		}
	}
	
	.side-nav.side-nav-sub li.active > a {
		&::before{
			color: @subtextColor;
		}
	}
	.side-nav li.active a {
		&::before{
			color: @subtextColor;
			top: auto;
		}
		&:hover::before,
		&:focus::before {	
			color: @dominantColor;
		}
	}
	.side-nav li.active:hover {
		color: @subtextColor;
	}
	
	.side-nav li a:not(.button):active {
    	color: @textColor;
	}
    
    // Hinna slider
    .noUi-connect {
        background: @dominantColor;
    }

    .noUi-background {
        background: @backgroundColor; 
        box-shadow: none;
    }

    .noUi-target {
        border: none; 
        box-shadow: none;
    }

    .noUi-pips {
        color: @textColor;
    }

    .noUi-marker {
        background: @subtextColor;
    }

    .noUi-marker-large,
    .noUi-marker-sub {
        background: @textColor;
    }

    input:not([type]),
    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="week"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    input[type="color"],
    textarea,
    select {
        background-color: @cardColor;
        border-color: lighten(@cardColor, 10%);
        color: @textColor !important;
		&:focus {
            background-color: lighten(@cardColor, 5%);
			border-color: lighten($background-color, 20%);
        }
    }

    .card {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        a:not(.button) {
            color: @dominantColor;
        }
		&.content-card {
			.header, .availability tr th {
				background: lighten(@cardColor, 10%);
			}
		}
    }
	
	// Table stuff
	table {
		&#buyer_data, &#desc, &.availability {
			background: lighten(@backgroundColor, 8%);
			thead, tfoot, tfoot, tbody, tbody {
				td {
					background-color: @backgroundColor;
				}
			}
			tr, tr.even, tr.alt, tr:nth-of-type(2n), td {
				background: @backgroundColor;
			}
		}
		th, td {
			color: @textColor !important;
		}
    }
	
	table#buyer_data td label {
		display: flex;
		align-items: center;
		height: 28px;
	}
    
    .shoppingcartdropdown {
        background-color: @cardColor !important;
    }

    .innercartrow .cartitem {
        background-color: @cardColor !important;
    }

    .cartitem {
        color: @textColor
    }
    
    .f-dropdown { 
        h1, h2, h3, h4, h5, h6, a:not(.button) {
            color: @dominantColor;
        }
        a.button:hover {
            background-color: @dominantColor;
        }
        &::before{
            border-color: transparent transparent @cardColor transparent;
        }
        &::after {
            border-color: transparent transparent @cardColor transparent;
        }
		li:hover, li:focus {
			background: @darkbuttonColor;
		}
    }

    .innercartrow .generateUrl {
        background: darken(@cardColor, 4%);
    }

    .innercartrow .generateUrl:hover {
        background: darken(@cardColor, 8%);
        color: @textColor;
    }

    .content-page-row > .columns {
        background-color: @cardColor;
    }
    
    #tellimine tbody {
        tr:first-child td {
            background-color: @dominantColor;
            color: @textColor;
        }
        tr:nth-child(2n) td {
            background-color: lighten(@cardColor, 5%);
        }
        tr:nth-child(2n + 3) td {
            background-color: lighten(@cardColor, 2%);
        }
        tr:last-child td {
            background-color: lighten(@cardColor, 10%);
        }
		a {
			font-weight: 600;
		}
    }

    #buyer_data label {
        color: @textColor
    }

    .deliverySubOption {
        p {color: @textColor;}
        border: 1px solid @dominantColor;
        transition: border 300ms ease-out;
        &:hover {
            border: 1px solid lighten(@cardColor, 18%);
			.button {
				background-color: lighten(@cardColor, 18%);
        	}
        } 
    }

    .deliveryOption.selected,
	.deliverySubOption.selected {
		border-color: lighten(@cardColor, 10%);
		.button {
			background-color: lighten(@cardColor, 10%);
		}
    }

    #buyer {
        label {
            color: @textColor;
        }
        h2 p font{
            color: @dominantColor;
        }
    }

    .ui-autocomplete {
        background-color: @cardColor;
        border-color: @borderColor;
    }

    .ui-autocomplete.ui-widget-content {
        background: @cardColor;
    }

    .ui-autocomplete > li {
        color: @textColor
    }

    .ui-autocomplete .ui-menu-item {
        color: darken(@textColor, 10%)
    }

    .card.content-card .productdescription h4 {
        color: @textColor;
    }

    .ribbon span {
        &::before {
            border-left: 3px solid @dominantColor;
            border-top: 3px solid @dominantColor;
        }

        &::after {
            border-right: 3px solid @dominantColor;
            border-top: 3px solid @dominantColor;
        }

        background: @dominantColor;
    }

    .products-grid li .card .pricecontainer,
    .products-grid2 li .card .pricecontainer {
        background: @dominantColor;
		bottom: 2.75em;
    }

    .footerlist li::before {
        color: @dominantColor;
    } 
    
    // White footer logo
    .footerlogo {
        filter: brightness(0) invert(1);
    }

    .productsmenucontainer .productsmenu li.active > a::after {
        color: @dominantColor; 
    }
    
    // Lehed
    ul.pagination li.current a, ul.pagination li.current button {
        &:hover, &:focus {
            background: @dominantColor;
        }
        background: @dominantColor;
        color: @textColor;
    }
    ul.pagination li {
        color: @textColor;
        &:hover a,
        & a:focus{
            background: @cardColor;
        }
        & a {
            color: @subtextColor;
        }
    }
    .count {
        color: @dominantColor;
    }
    
    // View
    .pickview .change-grid {
        border: 1px solid @dominantColor;
    }
    
    // Popup / lisatud korvi
    #popup-alert {
        background-color: @dominantColor;
    }
    
    button, .button {
        background-color: @dominantColor;
        border-color: @dominantColor;
        &:hover, &:focus {
            background-color: @darkbuttonColor;
        }
    }
    
    // Mobile stuff
    .tab-bar {
        background: @dominantColor;
    }
	
	.left-off-canvas-menu, .right-off-canvas-menu {
		background: @dominantColor;
		ul.off-canvas-list li a {
            border-bottom: 1px solid darken(@dominantColor, 10%);
        }
		ul.off-canvas-list li {
			a:hover,
			a:active {
				background: @cardColor;
			}
        }
	}

    .left-off-canvas-menu {
        ul.off-canvas-list li label{
            background: darken(@dominantColor, 10%);
            border-top: none;
        }
    }
	
    .left-submenu, .right-submenu {
        background: @dominantColor;
        .back > a, .back > a:hover {
            border-top: none;
            border-bottom: 1px solid darken(@dominantColor, 10%);
        }
    }
    .product-price {
        background: @dominantColor;
    }
    .card.content-card .header .cartbutton-productpage {
        background: @dominantColor;
        &:hover {
            background: darken(@dominantColor, 10%);
        }
    }
	// Saada ostukorv sõbrale
    .reveal-modal { 
		background-color: @backgroundColor;
    }
    .cart-menu li.cartcontainer > a:not(.button) span.items {
        font-weight: 400;
    }
    .cart-menu li.cartcontainer > a:not(.button) span.smallprice {
        font-weight: 600;
    }
    .tablecontainer.specs table {
        border: 0;
    }
	select {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' x='12px' y='0px' width='24px' height='3px' viewBox='0 0 6 3' enable-background='new 0 0 6 3' xml:space='preserve' fill='%23ffffff'%3E%3Cpolygon points='5.992 0 2.992 3 -0.008 0 '/%3E%3C/svg%3E");
	}
	
	.ui-autocomplete .ui-menu-item.ui-state-hover, .ui-autocomplete .ui-menu-item.ui-state-active, .ui-autocomplete .ui-menu-item.ui-state-focus {
		background-color: @dominantColor;
	}
	
	div.search-categories:nth-child(2n) a {
		background-color: @cardColor;
		&:hover {
			color: @textColor;
			background-color: @darkbuttonColor;
		}
	}
	
	.liisi-wrapper {
    	color: @dominantColor;
	}
	
	.pickview .change-grid {
		border: 1px solid @dominantColor;
		transition: color 300ms ease-out, border 300ms ease-out;
		&:hover:not(.active) {
			border: 1px solid @textColor;
		}
	}
	
	// Zendesk värvid (tõesti ei kujuta ette miks keegi seda tahaks aga ok)
	.meshim_widget_components_chatButton_ButtonBar {
		&, .favicon {
			background: @dominantColor !important;
		}
	}
	
	.meshim_widget_widgets_TitleBar {
		background: @dominantColor !important;
		color: @textColor;
	}
	
	.meshim_widget_widgets_ConnAwareSubmit {
		background: @dominantColor;
		border-color: darken($background, 10%);
		&:hover, &:focus{
			background: darken(@dominantColor, 10%) ;
			border-color: darken($background, 10%);
		}
	}
	
	.meshim_widget_widgets_ActionBar {
		z-index: -1;
	}
	
	.meshim_widget_widgets_titleBar_MinimizeButton .bar {
		background-color: @textColor;
	}
	
	// Tooltipid
	.has-tip:hover, .has-tip:focus {
	  border-bottom: dotted 0px darken(@dominantColor, 20%);
	  color: @dominantColor;
	}
	
	img {
		&[title="Liisi digiallkirjastamine"], &[alt="DPD kuller(maja välisukseni)"] {
			filter: brightness(0) invert(1);
		}
	}
	
}
@-moz-document regexp("https://kodutark\\.ee.*/tracking.*") {
    div.off-canvas-wrap div.inner-wrap section.main-section section.body div.row.content-page-row div.large-12.medium-12.columns.content div {
        ul li:last-child font:last-child {
            color: @textColor;
        }
        table {
            border: solid 1px @borderColor
        }
        table tbody tr td:nth-child(2) b {
            visibility: hidden;
            position: relative;
            &:after {
                visibility: visible;
                position: absolute;
                top: 0;
                left: 0;
                content: "Tk";
            }
        }
    }
}
